{% extends '@layout/default.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-5">
            <h3>Update account info</h3>

            {% if submittedForm == 'userForm' %}
                {{ flashMessagesPartial('partial::alerts') }}
            {% endif %}

            {% set dummy = userForm.setAttribute('method', 'post') %}
            {% set dummy = userForm.prepare() %}

            {% set dummy = userForm.get('submit').setName('userFormSubmit') %}

            {{ form().openTag(userForm) | raw }}
            {% include '@dk-user/_form.html.twig' with {'form' : userForm, 'showLabels' : true} only %}
            {{ form().closeTag() | raw }}

        </div>
        <div class="col-sm-6 col-md-5" id="change_password">
            <h3>Change password</h3>

            {% if submittedForm == 'changePasswordForm' %}
                {{ flashMessagesPartial('partial::alerts') }}
            {% endif %}

            {% set dummy = changePasswordForm.setAttribute('method', 'post') %}
            {% set dummy = changePasswordForm.prepare() %}

            {% set dummy = changePasswordForm.get('submit').setName('changePasswordSubmit') %}

            {{ form().openTag(changePasswordForm) | raw }}
            {% include '@dk-user/_form.html.twig' with {'form' : changePasswordForm} only %}
            {{ form().closeTag() | raw }}
        </div>
    </div>

{% endblock %}