{% extends '@layout/default.html.twig' %}

{% block title %}Users{% endblock %}
{% block page_title %}<h3>Registered Users</h3>{% endblock %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Username</th>
            <th>Role</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}

            <tr>
                <td>{{ user.getId() }}</td>
                <td>{{ user.getEmail() }}</td>
                <td>{{ user.getUsername() }}</td>
                <td>{{ user.getRole() }}</td>
                <td>{{ user.getDateCreated() | date('F j, Y, g:i a') }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}