{{ form().openTag(form) | raw }}

{% for element in form %}

    {% if element is captchaElement %}
        <div class="form-group">
            {% set dummy = element.setAttribute('class', 'form-control') %}
            {{ formLabel(element) }}
            {{ formCaptcha(element) }}
        </div>

    {% elseif element is checkboxElement %}
        <div class="checkbox">
            <label>
                {{ formCheckbox(element) }} {{ element.getLabel() }}
            </label>
        </div>

    {% elseif element is buttonElement and element.getName() != 'submit' %}
        {% set dummy = element.setAttribute('class', 'btn btn-block') %}
        {{ formButton(element) }}

    {% elseif element is submitElement or element is buttonElement and element.getName() == 'submit' %}
        {% set dummy = element.setAttribute('class', 'btn btn-lg btn-primary btn-block') %}
        {{ formSubmit(element) }}

    {% else %}
        <div class="form-group {% if element.getMessages() %}has-error{% endif %}">

            {% set dummy = element.setAttribute('class', 'form-control') %}
            {{ formElement(element) }}

        </div>

    {% endif %}

{% endfor %}

{{ form().closeTag() | raw }}