<ul class="{{ ulClass }}">

    {% for page in container %}

        {% if navigation.isAllowed(page) %}

            {% set liClass = '' %}
            {% set extraAttributes = '' %}
            {% if navigation.isActive(page) %}
                {% set liClass = 'active' %}
            {% endif %}

            {% if page.hasChildren() %}
                {% if depth == 0 %}
                    {% set liClass = liClass ~ ' dropdown' %}
                    {% set extraAttributes = ' class=dropdown-toggle data-toggle=dropdown role=button aria-haspopup=true aria-expanded=false' %}
                {% else %}
                    {% set liClass = liClass ~ ' dropdown-submenu' %}
                {% endif %}
            {% endif %}


            <li class="{{ liClass }}">
                <a href="{{ navigation.getHref(page) }}" {{ navigationPageAttributes(page) ~ extraAttributes }} >
                    {% if page.getOption('icon') %}

                        <i class="{{ page.getOption('icon') }}" ></i>&nbsp;

                    {% endif %}

                    {{ page.getOption('label') }}

                    {% if page.hasChildren() %}

                        <span class="caret"></span>

                    {% endif %}
                </a>

                {% if page.hasChildren() %}

                    {{ navigationPartial(page, 'partial::navigation', {'ulClass' : 'dropdown-menu', 'depth' : depth + 1}) | raw }}

                {% endif %}

            </li>

        {% endif %}

    {% endfor %}

</ul>